
.main-footer{
    display:flex;
    flex-direction: column;
    background-color:#000C19;
}
.row1{
    display: flex;
    gap: 70px;
}
.footer-image-holder{
    display: flex;
    flex-direction: column;
    background-color:#000C19 ;
    max-width:350px;
}
.footer-image-holder p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    color: green;
    align-self: center;
    letter-spacing: 0.5px;
}
.social-media-holder{
    display:flex;
    gap:10px;
    margin:10px;
}
.social-media-holder img{
    height: 60px;
    width: 60px;
    border-radius: 47%;
    border: 1px solid whitesmoke;
}
.footer-data{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-self: center;
}
.footer-data a{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    letter-spacing: 0.5px;
}
.footer-data a:hover{
    color: green;
}
.footer-data-heading {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
}
.footer-data-heading:hover{
  text-decoration: underline;
  transition: text-decoration-color 0.3s ease;
  text-decoration-color: green;
  text-decoration-thickness: 2px;
  text-underline-offset: 14px;
}
.footer-data li::marker{
    color:#000C19 ;
}
.row2{
    display: flex;
    align-items:center;
}
.footer-feature{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    width: fit-content;
}
.footer-feature-image{
    width:85px;
    height: 85px;
    object-fit: contain;
}
.footer-feature-text h3{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: whitesmoke
}
.footer-feature-text p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}
.row3{
    display: flex;
    align-content:space-between;
    gap: 80px;
    margin-bottom: 20px;
}
.footer-image-economy{
    display: flex;
    gap :20px;
}
.footer-image-economy img{
    height: 55px;
    width: 120px;
    border-radius: 10px;
}
.row4{
    display: flex;
    justify-content: space-between;
}
.row4 p{
    color: whitesmoke;
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    letter-spacing: 0.5px;
}